@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

body {
  padding: 0;
  margin: 0;
  background-color: #212121;
  font-family: 'Montserrat', sans-serif;
}

.title {
  font-family: sans-serif;
  text-align: center;
}

.component_container {
  position: relative;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: none;
  font-size: 8px;
}
